/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html{
  background: black;
  color: grey;
}
#image1{
  display: block;
  margin: 0 auto;
  width: 80%;
}
#nasa{
  width: 4vw;
  float: left;
}
#title1{
  
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
